/play.ipynb
/dashEnergy.py
/data/df_sub.pkl
/data/Untitled.ipynb
/data/.ipynb_checkpoints/
/save_test.py
/data/.ipynb_checkpoints/
/.ipynb_checkpoints/
/dashMultiPage.py
/save_copies/
/dashDataTable.py
/dashNX.py
